
<div dndDropzone
     (dndDragover)="onDragover($event)"
     (dndDrop)="onDrop(country , $event)" *ngFor="let country of countries; let i = index" class="box box-{{i + 1}}">
  {{country.name}}
</div>
<div class="content"  >
  <div [style.top.px]= "picOffset"  class="question" 
       [dndDraggable]="draggable.data"
       [dndEffectAllowed]="draggable.effectAllowed"
       [dndDisableIf]="draggable.disable">
    
    <img id="QImg" class="GameImage"  src={{question?.imageUrl}} />
  </div>
</div>
<div class="PlayAgain">
  <button type="button"  class="btn btn-primary btn-sm" (click)="playAgain()">Play Again</button>
</div>
<div id="Score" class="score">
  <p *ngIf="!score"><em>Loading...</em></p>  
  <p>YourScore : {{score?.yourScore}}</p>
</div>
